* {

    color: white;
    padding: 0;
    margin: 0;

}

h3 {
    font-size: 24px;
    text-align: center;
    background-color: black;
    padding: 20px;
    margin-bottom: 40px;
    border: 3px solid rgb(13, 29, 91);
    position: relative;
    display: block;
    width: 100%;
}

p {

    font-size: 24px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 8px -8px 5px rgb(91, 108, 174);

}

#p1 {
    width: 200px;
    height: 340px;
    padding-top: 90px;
    text-align: center;
    vertical-align: top;
    background-color: rgb(13, 29, 91);
    position: relative;
    left: 40%;
}

#myphoto, #p1{
    display: inline-block;
}

#p2, #hobby {
    display: inline-block;
}

#p3, #hobby2 {
    display: inline-block;
}

#intro, #hobbies, #hobbies2 {
    display: block;
}

#p2 {
    height: 150px;
    width: 300px;
    vertical-align: top;
    padding-top: 180px;
    padding-bottom: 100px;
    background-color: rgb(13, 29, 91);
    position: relative;
    left: 20%;
}

#myphoto {
    width: 300px;
    height: 460px;
    margin-top: 25px;
    border-radius: 10px;
    position: relative;
    left: 40%;
    box-shadow: 8px -8px 5px;
}

#hobby {

    width: 300px;
    height: 420px;
    border-radius: 10px;
    margin-left: 5px;
    position: relative;
    left: 20%;
    margin-top: 30px;
    box-shadow: 8px -8px 5px;
    margin-bottom: 20px;
    
}

#p3 {

    width: 200px;
    height: 320px;
    padding-top: 200px;
    text-align: center;
    vertical-align: top;
    background-color: rgb(13, 29, 91);
    position: relative;
    left: 40%;

}

#hobby2 {

    width: 300px;
    height: 540px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    left: 40%;
    box-shadow: 8px -8px 5px;

}

ul {
    position: relative;
    left: 40%;
    padding: 50px;
    font-size: 24px;
}

.button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 15px 15px 15px 15px;
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
    background-color: black;/*rgb(28, 219, 108);#2de0f0;*/
    color: white;
    border: 3px solid rgb(127, 132, 4);
}

.button:hover {
    letter-spacing: 8px;
    background: #e1c62c;
    box-shadow: 0px 0px 30px #e1c62c;
    cursor: pointer;
}  

.span1:before {
    content: ">>";
    color: rgb(21, 64, 184);
}
.span1:after {
    content: "<<";
    color: rgb(21, 64, 184);
}

/* Loading screen */

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1;
}
.preloader--hidden {
    opacity: 0;
    visibility: hidden;
}
.preloader::after {
    content: "";
    width: 70px;
    height: 70px;
    border: 15px solid #dddddd;
    border-top-color: #0d1d5b;/*#009578;*/
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}
